---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Home">
  <div class="flex flex-col h-screen w-screen items-center justify-center">
    <p class="text-center text-6xl font-bold leading-tight">
      Nevan Angelo Catoy
    </p>
    <div
      class="flex flex-col gap-4 mt-8 items-center text-2xl decoration-transparent hover:underline visited:text-light-fg dark:visited:text-dark-fg"
    >
      <a class="hover:backdrop-invert-25 hover:invert" href="/about"
        >[ About Me ]</a
      >
      <a class="hover:backdrop-invert-25 hover:invert" href="/projects"
        >[ Projects ]</a
      >
      <a class="hover:backdrop-invert-25 hover:invert" href="/contact"
        >[ Contact ]</a
      >
    </div>
  </div>
</Layout>
