---
import Layout from '../layouts/Layout.astro'
import IndexLink from '../components/IndexLink.astro'
---

<Layout title="Home">
  <div class="flex flex-col h-screen w-screen items-center justify-center">
    <p class="text-center text-6xl font-bold leading-tight">
      Nevan Angelo Catoy
    </p>
    <div
      class="flex flex-col gap-4 mt-8 items-center text-2xl decoration-transparent hover:underline visited:text-light-fg dark:visited:text-dark-fg"
    >
      <IndexLink href="/about" text="About Me" />
      <IndexLink href="/projects" text="Projects" />
      <IndexLink href="/contact" text="Contact" />
    </div>
  </div>
</Layout>
