---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Home">
  <div class="flex h-screen w-screen items-center justify-center">
    <p class="text-center text-8xl font-bold leading-tight">
      Nevan Angelo Catoy
    </p>
  </div>
</Layout>
