---
import Layout from './Layout.astro'

interface Props {
  title: string
}
const { title } = Astro.props
---

<Layout title={title}>
  <div class="flex flex-col h-[80vh] w-[80vw] m-auto">
    <p
      class="flex-none flex items-center justify-center text-center text-6xl font-bold leading-tight"
    >
      {title}
    </p>
    <button
      class="flex-none text-xl pt-2.5
      decoration-wavy decoration-orange-200 underline-offset-2
      hover:underline hover:font-bold hover:cursor-pointer w-fit m-auto"
    >
      ⮌ Home
    </button>
    <div class="flex-1 text-2xl flex items-center justify-center text-center">
      <slot />
    </div>
  </div>
  <script>
    import { navigate } from 'astro:transitions/client'
    document.addEventListener('astro:page-load', () => {
      document.querySelector('button')?.addEventListener('click', () => {
        if (window.history.length > 2) {
          window.history.back()
        } else {
          navigate('/')
        }
      })
    })
  </script>
</Layout>
